// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #aca1a1;
$theme-secondary:  #a5a1a7;
$theme-tertiary:   #e4d9da;

$gray-base:        #000;
$gray-darker:      lighten($gray-base, 13.5%); // #222
$gray-dark:        lighten($gray-base, 20%);   // #333
$gray:             lighten($gray-base, 33.5%); // #555
$gray-light:       lighten($gray-base, 46.7%); // #777
$gray-lighter:     lighten($gray-base, 93.5%); // #eee

$brand-twitter:		#bbcdd8;
$brand-facebook:	#848b99;
$brand-google-plus:	#d8c8c5;